@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  background:url("../images/html b.jpg");
  background-size:cover;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000000;
  text-align: center;
}
.login-box h1{
  float: center;
  font-size: 40px;
  margin-bottom: 50px;
  padding: 13px 0;

}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #8caaa7;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background:none;
}
hr{
  margin-top: 2%;
  width: 80%;
}
.bottom-text input{
  margin-top: 4%;
  width: 10%;
  float: left;
}
.bottom-text p{
  margin-top: 3%;
  float: left;
}
.bottom-text a{
  margin-top: 3%;
  margin-left: 7%;
  float: right;
}
